.search__bar{
    // border-color: $container-light;
    background-color: #EDF2F6;
    border-radius: 0.3rem;
    // border: 1px solid $container-light;
    border: 1px solid #EDF2F6;
    height: 40px;
    padding-left: 15px;
}

.autocomplete{
    position:relative;
}
.activeSearch{

}


.searchField:hover{
    background-color: $container-light;
    cursor:pointer;
}

.search__bar{
    width: 100%;   
}

ul{
    padding-left: 0 !important;
}

.suggestions{
    border: 1px solid lightgray;
    position: absolute;
    width: 100%;
    z-index: 10;
    // background-color: $container-light;
    background-color: white;
    border-radius: 0.3rem;

    li{
        padding: 0.5rem;
    }


}

// .metamaskButton{
//     width: 75%;
//     overflow: hidden;
//     display: inline-block;
//     text-overflow: ellipsis;
//     border: 1px solid $main-color;
//     background-color: white;
//     border-radius: 0.3rem;
//     padding: 0.3rem;
// }



.metamaskAddress{
    width: 100%;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    border: 1px solid $main-color;
    background-color: white;
    border-radius: 0.3rem;
    padding: 0.3rem;
}

.metamaskButton
{
  width: 100%;
  background: rgb(241, 148, 42);
  background: linear-gradient(90deg, rgb(255, 159, 69) 35%, rgb(255, 0, 212) 100%);
  background-size: 200% 200%;
  border:none;
  border-radius: 0.5rem;
  color:#fff;
  font-size:14px;
  padding: 0.3rem;
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.25rem;
  padding-bottom: 0.625rem;
  padding-top: 0.625rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;

}

.updateButton{
    width: 50%;
    background: rgb(241, 148, 42);
    background-size: 200% 200%;
    border:none;
    border-radius: 0.5rem;
    color:#fff;
    font-size:14px;
    padding: 0.3rem;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    padding-bottom: 0.625rem;
    padding-top: 0.625rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border: 1px solid $main-color;
}

.updateButton:hover{
    background-color: white;
    color: $main-color;
}

.cancelButton:hover{
    background-color: white;
    color: $main-color;
}


.cancelButton{
    width: 50%;
    background: gray;
    background-size: 200% 200%;
    border:none;
    border-radius: 0.5rem;
    color:#fff;
    font-size:14px;
    padding: 0.3rem;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    padding-bottom: 0.625rem;
    padding-top: 0.625rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border: 1px solid gray; 
}


.createPost{
    // background-color: $main-color;
    border: 1px solid $main-color;
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
    cursor:pointer;
    color: $main-color;
}

.createPost:hover{
    background-color: $main-color;
    color: white;
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
}

.font-medium {
    font-weight: 500;
}
.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}
.text-center {
    text-align: center;
}
.py-2\.5 {
    padding-bottom: 0.625rem;
    padding-top: 0.625rem;
}
.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.to-orange-400 {
    --tw-gradient-to: #ff8a4c;
}
.from-pink-500 {
    --tw-gradient-from: #e74694;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,rgba(231,70,148,0));
}
.bg-gradient-to-br {
    background-image: linear-gradient(to bottom right,var(--tw-gradient-stops));
}
.rounded-lg {
    border-radius: 0.5rem;
}
.mr-2 {
    margin-right: 0.5rem;
}
.mb-2 {
    margin-bottom: 0.5rem;
}