@media (min-width: 1200px){
    .container{
        max-width: 80vw !important;
    }

    .feed__card__post .header__img{
        height: 60px;
        width: 60px;
    }

    .feed__card__post .post__header {
        width: 100%;
    }

    .pageTitle{
        font-size: 40px;
    }
}

@media (min-width: 992px) and (max-width: 1200px){

    .feed__card__post .header__img{
        height: 55px;
        width: 55px;
    }

    .pageTitle{
        font-size: 38px;
    }

}

@media (min-width: 768px) and (max-width: 992px){
    .container {
      max-width: 100vw !important;
    }

    .feed__card__post .header__img{
        height: 45px;
        width: 45px;
    }

    h3{
        font-size: calc(1.2825rem + 0.09vw) !important;
    }

    .pageTitle{
        font-size: 34px;
    }
}

@media (min-width:576px) and (max-width: 768px){
    .container {
      max-width: 100vw !important;
    }
    .feed__card__post .header__img{
        height: 45px;
        width: 45px;
    }
}

@media (max-width: 768px){
    .metamaskBar{
        margin-top: 10px !important;
    }

    .pageTitle{
        font-size: 24px;
    }   

    .tripSuggestions{
        flex-direction: column;
        align-items:center;
        row-gap: 10px;
    }

    #section-counter{
        height: 2200px !important;
    }
}

@media (max-width: 576px){
    .routes{
        flex-direction: row;
        width: 375px;

        div div span span, div div a span{
            display:none;
        }

        .pageTitle{
            font-size: 24px;
        }   
    }

    .pageTitleContainer{
        text-align: center;
    }
    
    .rightSideBar{
        display: none;
    }

    .main{
        margin-bottom: 30px;
    }
}



