.profile__card {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content:space-between;
    cursor: pointer;
    width: 100%;
    padding: 1rem;
    border-radius: 0.3rem;
    gap: 0.2rem;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 10px;
    height: 110px;
}

.profile__card__text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__card__img{
    width:  50%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 0.3rem;
}

.friend__card__container{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    // padding: 0 1rem 1rem 1rem;
    border-radius: 0.3rem;
    gap: 0.2rem;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 10px;
}
.feed__card__post{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    padding: 0 1rem 1rem 1rem;
    border-radius: 0.3rem;
    gap: 0.2rem;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 10px;

    .text{
        display: flex;
        flex-direction: column;
        align-items:center;
    }

    .header__img{
        border-radius: 50%;
        height: 65%;
        width: 30%;
    }

    .post__header{
        height: 80px;
        width: 100%;

        .row{
            height: 100%;
            width: 100%;
        }
    }


    .header__text h4{
        margin-bottom: 0;
    }

    .body{
        height: 75%;
        overflow: hidden;
        width: 100%;

        .body__text{
            font-size: 12px;
            text-align:justify;
            font-weight:450;
            margin-top: 10px;
        }
    }
    .body__img{
        min-height: 40vh;
        background-size: cover;
        background-position: center;
        width: 100%;
        border-radius: 0.3rem;
    }

    .footer{
        justify-content: start;
        align-items: center;
        width: 100%;
        i{
            font-size: 19px;
        }

        i:hover{
            color: $main-color;
        }

    }
}

.routes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    width: 100%;
    border-radius: 0.3rem;
    // gap: 0.2rem;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 10px;
    margin-top: 35px;

    .active{
        background-color: $container-light;
    }

    .activeTop{
        background-color: $container-light;
        border-radius: 0.3rem 0.3rem 0 0;
    }

    .children__routes{
        width: 100%;
        height: 45px;
        padding-left: 0.5rem;
        overflow:hidden;
        
        div{
            margin-left: 12px;
            height: 100%;

            a, span{
                text-decoration: none;
                color: black;
            }
        }
    }

    i{
        color: $main-color;
    }

    .children__routes:hover{
        background-color: #EDF2F7 !important;
        cursor:pointer;
        transition: 0.5s;

        a,span{
            font-weight: 600;
        }
    }
}

.latest__photos__container{
    padding: 1rem;
    gap: 0.2rem;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 10px;
    display: flex; 
    flex-direction: column; 
    align-items: center;

    .lastPhoto__img{
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
    }
    .header{
        height: 15%;
    }

    .photos__grid .col-4{
        padding: 2px;

        img{
            width: 100%;
            height:auto;
            cursor:pointer;
        }

        img:hover{
            width: 120%;
            height: 120%;
        }
    }

    .photos__grid{
        // height: 400px;
        height: 85%
    } 
}

.friend__suggestion__container{
    margin-top: 25px;
    padding: 1rem;
    gap: 0.2rem;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 10px;
    min-height: 150px;
    max-height: 300px;
    .grid{
        // display: flex;
        // flex-direction: column;
    }
    
    .add{
        color: $main-color;
        font-size: 24px;
        cursor: pointer;
    }

    .add:hover{
        border-color: $main-color;
        color: $main-color;
        font-size: 30px;
        transition: 0.5s;
    }

    div{
        height: 60px;
        display: flex;
        align-items: center;

        img{
            border-radius: 50%;
            height: 40px;
            width: 40px;
        }
        .add__button__container{
            justify-content: center;
        }

        .username{
            margin-left: 10px;
            font-weight: 400;
        }
    }
}


hr{
    margin: 0 !important;
}

.textarea__container {
    width: 100%;
    padding: 1rem;
    border-radius: 0.3rem;
    gap: 0.2rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 10px;
    height: 150px;
    button{
        background-color: $main-color;
        border-color: $main-color;   
    }
}

textarea{
    resize: none !important;
    width: 100%;
}

.orange{
    color: $main-color;
}

.comments{
    width: 100%;

    .comment{
        background-color: $main-color;
        padding: 10px;
        font-weight: 400;
        border: 1px solid $main-color;
        border-radius: 5px;
    }

    .comment:hover{
        color: $main-color;
        border: 1px solid $main-color;
        background-color: white;
    }

    .card-body{
        background-color: #fbfbfb;
    }
}

.dropwdown-item{
    padding: 0 !important;
}

.first:hover{
    background-color: #EDF2F7 !important;
    border-radius: 0.3rem 0.3rem 0 0 !important;
}

.last:hover{
    background-color: #EDF2F7 !important;
    border-radius:  0 0 0.3rem 0.3rem !important;
}

.round{
    border-radius: 50%;
}

.action__delete{
    position:absolute;
    top: 10px;
    right: 10px;
}

.main__color{
    color: $main-color;
}

.hover__cursor{
    cursor: pointer;
}

.admin__link{
    background-color: $main-color;
    padding: 10px;
    font-weight: 400;
    border: 1px solid $main-color;
    border-radius: 5px;
    color: black;
}

.admin__link:hover{
    color: $main-color;
    border: 1px solid $main-color;
    background-color: white;
    text-decoration: none;
}



.search__user__img{
    height: 45px;
    width: 45px;
    border-radius: 50%;
}


.search__add{
    color: #f9ab30;
    font-size: 24px;
    cursor: pointer;
    transition: 0.5s;
}

.search__add:hover{
    font-size: 34px;
}

.logout{
    cursor: pointer;
}

.profile__card{
    padding: 0;
}

.profile__name{
    width: 50%;
}

.latest__photos__container .photos__grid {
    width: 100%;
}

.latest__photos__container .photos__grid .col-4 {
    height: 100px;
}

.deletePost{
    cursor:pointer;
    color: $main-color;
    font-size: 17px;
    transition: 0.3s;
}

.deletePost:hover{
    font-size: 23px;
}

.friend__img{
    padding-left: 0 !important;
}

.friend__text{
    height: 150px;

    .deleteIcon{
        position: absolute;
        top: 5px;
        right: 0px;
        transition: 0.3s;
        color: $main-color;
        cursor: pointer;
    }

    .deleteIcon:hover{
        font-size: 20px;
        
    }
}