.profile__card {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    gap: 0.2rem;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 10px;
}

.profile__card__text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__card__img{
    height: 50%;
    width:  50%;
}

.feed__card__post{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    gap: 0.2rem;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 10px;

    .__text{
        display: flex;
        flex-direction: column;
        align-items:center
    }
}